//Colors of project

//Brand Colors
$primary-normal: #82269e;
$primary-dark: #701f88;
$primary-light: #9c4fb4;

$secondary-normal: #a950c4;
$secondary-dark: #9544ad;
$secondary-light: #bb71d2;

//Neutral Colors
$black-normal: #353436;
$black-dark: #2e2e2f;
$black-light: #403f41;

$white-normal: #f8f1fa;
$white-dark: #edeaef;
$white-light: #fbf5fc;

//Gray Colors
$gray-1: #4a4a4a;
$gray-2: #595959;
$gray-3: #676767;
$gray-4: #767676;
$gray-5: #7d7d7d;
$gray-6: #848484;
$gray-7: #8b8b8b;

//Auxiliary Colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;
